.crime-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 16px;
}

.chart-container {
    border-radius: 12px;
}

.chart-container-header {
    height: 40px;
    background: #E3E7F1;
    color: #1463FF;
    border-radius: 12px 12px 0 0;
    padding-left: 16px;
    padding-top: 8px;
}

.chart-border-container {
    background: #F2F4F5;
    padding: 20px 32px;
    display: flex;
    width: 100%;
}

.chart-border-container-left-side-text {
    align-items: center;
    display: flex;
    transform: rotate(270deg);
}

.chart {
    background: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 20px 32px;
    width: inherit;
}

.header,
.footer {
    height: 26px;
    width: 100%;
}

.header-details,
.footer-details {
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
}

.header-details {
    padding-bottom: 10px;
}

.header-details-logo {
    align-items: center;
    display: flex;
    gap: 5px;
}

.footer-details {
    display: flex;
}

.report-generated {
    color: #1463FF;
}

.crime-bar {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.crime-bar img {
    height: 30px;
}

.border-wrap {
    background: linear-gradient(90.22deg, #005DFF 0%, #00A3FF 44.27%, #21DDFF 100%);
    padding: 2px;
    position: relative;
    height: 3px;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .chart {
        max-height: calc(100vh - 300px);
    }
}

@media screen and (max-width: 600px) {
    .crime-chart-container {
        font-size: 12px;
    }

    .chart {
        padding-left: 8px;
        padding-right: 20px;
    }

    .chart-border-container {
        padding: 4px;
    }

    .chart-border-container-left-side-text {
        margin-right: -10px;
        margin-left: -10px;
    }
}